

<form class="max-w-sm mx-auto px-6 py-10 flex flex-col justify-center text-center border-none rounded-2xl  ring-2 ring-gray-500 focus:ring-gray-300 focus:ring-2 "
      [formGroup]= "registerForm"
      (ngSubmit)="onSubmit()">
  <h1 class="mb-5">Register</h1>

  <input type="text" placeholder="Username" formControlName = "userName"
            class="border-none rounded-2xl  ring-2 ring-gray-500 focus:ring-gray-300 focus:ring-2 px-4 py-2 my-4 placeholder-white " >

  <input type="email" placeholder="Email" formControlName = "email"
            class="border-none rounded-2xl  ring-2 ring-gray-500 focus:ring-gray-300 focus:ring-2 px-4 py-2 my-4 placeholder-white " >

  <input type="password" placeholder="Password" formControlName = "password"
          class="border-none rounded-2xl  ring-2 ring-gray-500 focus:ring-gray-300 focus:ring-2 px-4 py-2 my-4 placeholder-white ">

  <input type="password" placeholder="Confirm Password" formControlName = "confirmPassword"
          class="border-none rounded-2xl  ring-2 ring-gray-500 focus:ring-gray-300 focus:ring-2 px-4 py-2 my-4 placeholder-white ">

  <button class="border-amber-200 border-2 rounded-2xl shadow-lg hover:shadow-2xl hover:scale-105
                  transition-all duration-300 cursor-pointer px-4 py-2 text-white my-4">Register</button>

  @if (errorMessage()) {
    <div class="bg-red-500/20 border border-red-500 text-red-400 px-4 py-3 rounded-lg mb-4">
      {{ errorMessage() }}
    </div>
  }

  <div>
    <span>Already have an account? </span>
    <a routerLink="/login" routerLinkActive="active" class="font-semibold text-amber-200">Log In here</a>

  </div>

</form>
